:root {
    --primary-color: #1C033C;
    --accent-color: #371e77;
    --subtle-color: #65626d;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    line-height: 1.4;
    color: var(--primary-color);
    margin: 0;
    padding: 20px;
}

.resume-container {
    max-width: 850px;
    margin: 0 auto;
    background: #fff;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
 /*added now*/
.company {
    flex: 1; /* Allows the school name to take up available space */
    font-weight: bold;
}

/* Header */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.contact-info, .social-links {
    font-size: 14px;
    color: var(--accent-color);
}

.social-links a {
    color: var(--accent-color);
    text-decoration: underline;
}

/* Sections */
h2 {
    font-size: 18px;
    border-bottom: 1px solid var(--primary-color);
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 2px;
}

.entry {
    margin-bottom: 15px;
}

.entry-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    gap: 10px; /*added now*/
}

.job-title {
    font-style: italic;
    color: var(--accent-color);
    display: flex;
    justify-content: space-between;
}


/* Lists */
ul {
    margin-top: 5px;
    padding-left: 20px;
}

li {
    margin-bottom: 4px;
    font-size: 13.5px;
}

.tech-stack {
    list-style-type: none;
    margin-left: -20px;
    font-weight: 500;
    color: var(--accent-color);
    margin-top: 5px;
}

p {
    font-size: 13.5px;
    margin: 5px 0;
}

.coursework {
    font-size: 14px;
    color: #444;
}

/* Print Styling */
@media print {
    body { background: none; padding: 0; }
    .resume-container { box-shadow: none; width: 100%; max-width: 100%; }
}